@charset "utf-8";
/* CSS Document */

body {
	background-color:#14DBAB
}


P {
	color: #FAFAFA;
}

#parrafo2 {
    color: #FF0000;
}

.MiClase1 {
	color: antiquewhite;
	text-align: center;
	font-size: 
}