#textos {
    border-bottom: 5px solid blue;
    padding: 10px;
}

#cajita {
    border-left: 10px solid red;
    border-right: 10px solid red;
    margin-bottom: 5px;
}

a, a:link, a:visited {
    background-color: lightgray;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    cursor: pointer;
}

#tablita {
    border: 4px solid pink;
    border-collapse: collapse;
}

#tablita td {
    padding: 10px;
    border: 1px solid pink;
}







